# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Introduction to Job System Starter.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Resource\WorkSpace_Unity\UnityStudyRecord\Introduction_to_Job_System\Introduction to Job System Starter\.idea\.idea.Introduction to Job System Starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
